.Form {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  width: 25%;
}

.CommentsArea {
  display: flex;
  flex-direction: column;
  width: 420px;
  flex: 1 1 auto;
  word-wrap: break-word;
  overflow-y: scroll;
  gap: 10px;
  height: 350px;
}

.InputsWrapper {
  flex: 0 0 auto;
  margin-bottom: 10px;
}

.CommentLabel {
  padding-bottom: 0;
  margin-bottom: 7px;
}

.Error {
  height: 20px;
  min-width: 100vh;
  font-size: 13px;
  margin: 8px 0;
  color: rgb(204, 21, 21);
}
