.Form {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 25%;
}

.Comment {
  flex: 0 0 auto;
  margin-bottom: 20px;
}

.Area {
  display: flex;
  flex-direction: column;
  width: 420px;
  flex: 1 1 auto;
  word-wrap: break-word;
  overflow-y: scroll;
  gap: 10px;
  background-color: antiquewhite;
  height: 300px;
}

.Description {
  padding-bottom: 0;
  margin-bottom: 7px;
}
