.Form {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  width: 25%;
}

.CommentsArea {
  display: flex;
  flex-direction: column;
  width: 420px;
  flex: 1 1 auto;
  word-wrap: break-word;
  overflow-y: scroll;
  gap: 10px;
  height: 350px;
}

.InputsWrapper {
  flex: 0 0 auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Button {
  display: inline-block;
  margin-top: 2px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(219, 215, 235);

  &:hover {
    cursor: pointer;
    color: rgb(249, 249, 249);
    background-color: black;
    transition: background-color 0s ease;
  }
}

.Error {
  height: 20px;
  min-width: 100vh;
  font-size: 13px;
  margin: 8px 0;
  color: rgb(204, 21, 21);
}

input,
textarea {
  margin: 2px 0;
}
